<section class="TodoSection">
  <div class="TodoSectionTitle">
    <p class="TodoSectionTitle__Text"><%= section_title %> </p>
    <p class="TodoSectionTitle__RemainingCount"> <%= todos.completed.count %>/<%= todos.count %> </p>
  </div>

  <ul>
    <% todos.each do |todo| %>
      <li class="TodoItem">
        <label class="TodoItem__Container">

          <%= form_with(url:"/todos/#{todo.id}", method: "put") do %>
            <input
              class="TodoItem__Checkbox"
              name="completed"
              type="checkbox" <%= todo.completed ? "checked" : "" %>
              onclick="this.form.submit()"
            >
            <%# <input type="submit" value = "Update"> %>
          <% end %>

          <% if todo.completed %>
            <p class="TodoItem__StrikedText" > <%= todo.todo_text %> </p>
          <% else%>
            <p class="TodoItem__Text" > <%= todo.todo_text %> </p>
          <% end %>

          <% if show_duedate %>
            <p class="TodoItem__Duemonth"> <%= todo.due_date.to_s(:short) %> </p>
          <% end %>

          <a class="TodoItem__DeleteButton" href="javascript:void(0)">
            <%= form_with(url:"/todos/#{todo.id}", method: "delete") do %>
              <%# <input type='image' src="/assets/bin.ico" width =10px> %>
              <%= image_tag "bin.ico", height: 15  %>
            <% end %>
          </a>

        </label>
      </li>
    <% end %>
  </ul>
</section>
